.todoContainer {
  padding: 10px;
  // height: calc(100vh - 84px);
  display: flex;
  gap: 10px;

  .listContainer {
    width: 25%;
  }

  .todoCard {
    width: 75%;
  }

  .openNewAddBtn {
    position: fixed;
    right: 30px;
    bottom: 30px;
  }
}
