<mat-card class="" *ngIf="!todos.isArchived">
<!-- <mat-card class=""> -->
    <mat-card-header>
      <mat-card-title>{{todos.title}}</mat-card-title>
      <mat-card-subtitle>{{todos.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onClickCompleted(todos)">Complete</button>
      <button mat-raised-button color="warn" (click)="onClickArchived()">Archive</button>
      <button mat-raised-button color="primary" (click)="onUnClickCompleted(todos)">Un Complete</button>
    </mat-card-actions>

    <app-count-down [dDay]="todos.endData"></app-count-down>
</mat-card>