<form #f="ngForm" (ngSubmit)="onNgSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Todo Name</mat-label>
      <input ngModel name="title" matInput placeholder="What is your task?" />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Todo Description</mat-label>
      <input
        ngModel
        name="description"
        matInput
        placeholder="What is your task?"
      />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input ngModel name="endData" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
  